body, html {
  position: relative;
  height: 100%;
}


.view {
  background-image: url('../images/mustangV8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 736px;
  font-size: large;
  color: beige;
}

.form-control {
  background-color: transparent;
}
