body, html {
  height: 100%;
}


.view {
  height: 620px;
  background-image: url('../images/mustangV8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-size: large;
  color: brown;
}

#footer {
  position: bottom;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
